* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 20px;
}

.same {
  border: 2px solid red;
  border-radius: 20px;
  padding: 20px;
}

.same button {
  border: none;
  outline: none;
  padding: 5px 7px;
  background-color: greenyellow;
  border-radius: 6px;
  font-size: 16px;
  margin: 20px 0;
}

.same input {
  padding: 4px 8px;
  outline: none;
  border: 2px solid gray;
  border-radius: 8px;
}
.same h1 {
  font-size: 28px;
  text-align: left;
  font-weight: 500;
  margin-bottom: 10px;
}

.in-lab {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
